body{
    background:linear-gradient(to right,#cf9aff,#95c0ff);
    display:flex;
    flex-direction:column;
    font-family:Arial;
    align-items:centre;
}

.note{
    margin-left:20px;
    margin-top:20px;
    text-size-adjust: calc();
}

.create{
    padding:12px 20px;
    border:none;
    border-radius:30px;
    background-color:purple;
    color:white;
    cursor:pointer;
    text-align:centre;
}

.notes-container{
    margin-top:20px;
    display:flex;
    align-items:centre;
    flex-direction:column;
}

.note img{
    border-radius:20px;
}
.input-box{
    min-width:500px;
    width:90%

    min-height:120px;

    background:white;

    border-radius:12px;

    padding:15px;

    margin-top:20px;

    display:flex;

    justify-content:space-between;

    align-items:flex-start;

    box-shadow:0 4px 10px rgba(0,0,0,0.2);

}
.input-box:hover{
    transform:scale(1.02);

}

.note-text{

    width:100%;

    outline:none;

    font-size:18px;

}

.input-box img{

    width:22px;

    cursor:pointer;

}
.input-box img:hover{

    transform:scale(1.2);

}